nav#navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
}

nav#navbar div.navbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

nav#navbar a.navlink {
	position: relative;
	padding: 10px;
	font-weight: 800;
	font-size: 22px;

	text-decoration-line: none;
	color: black;
}

nav#navbar a.navlink::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 0;
	bottom: 5px;
	left: auto;
	right: 5px;
	background-color: black;

	transition: width 0.2s;
}

nav#navbar a.navlink:hover::after {
	left: 5%;
	right: auto;
	width: 90%;

	transition: width 0.2s;
}